# 排除构建无关文件

# 开发工具配置
/.github
/.husky
/.maestro
/.vscode

# 测试相关
/__mocks__
/jest-setup.ts
/jest.config.js

# 文档和脚本
/docs
/cli
/prompts
/scripts

# 安卓构建缓存
/android/build/
/android/app/build/
/android/.gradle

# iOS构建缓存
/ios/Pods/
/ios/build/

# 开发环境文件
*.log
*.env*
!.env.production

# 其他通用排除项(参考.gitignore)
node_modules/
.DS_Store
*.iml
*.hprof
.cxx/

# 保留必要内容
!/assets/**
!/src/**
!app.config.ts
!package.json
!tsconfig.json
!metro.config.js